
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YeniOlustur</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Add New Category</h2>
        </div>
        <div class="col-lg-6 col-lg-12">
            <form role="form" method="post" action="/Home/Ekle">
                <input name="CategoryName" class="form-control" placeholder="Category isim" />
                <input name="CategoryDesc" class="form-control" placeholder="category acıklama" />
                       <div class="text-right">
                    <button type="submit" class="btn btn-info">Add</button>
                </div>
            </form>
        </div>

    </div>
</body>
</html>
